:root {
  --color-primary: #007ced;
  --black: #444;
  --light-color: #777;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: var(--bg-color);
  overflow-x: hidden;
  word-break: break-word;
  color: var(--black);
}
body.active {
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  --border: 0.1rem solid rgba(0, 0, 0, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
}
a:hover {
  color: var(--color-primary);
}
/* menu bar */

#menu-btn {
  text-decoration: none;
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
  display: none;
}

#menu-btn:hover {
  color: var(--color-primary);
  box-shadow: var(--box-shadow-inset);
}

/*Dark  and Light Mood*/

#theme-toggler {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover {
  color: var(--color-primary);
  box-shadow: var(--box-shadow-inset);
}

/*Main Css*/
.resume-one .col-lg-4,
.col-lg-6 {
  margin: 0;
  padding: 0;
}
/*
 Header Style
*/
h1.site-title {
  text-transform: uppercase;
  font-weight: 700;
}
/* Menu*/

.menu {
  width: 100%;
  display: table;
  height: 100%;
}

.menu nav {
  display: table-cell;
  vertical-align: middle;
}

.menu ul {
  margin: 0;
  list-style: none;
  border-radius: 5px;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.menu a {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  padding: 20px 6px;
  color: var(--black);
  transition: 0.4s;
}

.menu a i {
  margin-bottom: 5px;
}

nav ul li a:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--color-primary);
}

.menu nav .list-group-item {
  background-color: transparent;
  border: none;
}
.menu nav .list-group-item.active {
  background-color: transparent;
  border: none;
  box-shadow: var(--box-shadow-inset);
  color: var(--color-primary);
}

/* Section Title And Section Subtitle*/

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin: 30px 0;
}

h3.title-word {
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}
h3.title-word.title-highlight {
  color: var(--color-primary);
}
h3.section-subtitle {
  position: relative;
  padding-bottom: 30px;
  padding-left: 30px;
  font-weight: 600;
  color: var(--black);
}

h3.section-subtitle:before {
  position: absolute;
  top: 5%;
  left: -2%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: "";
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
}

/* Author Section */
.author-sticky {
  position: relative;
}
.author-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-section .author {
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.author-section .author-img {
  width: 100%;
  height: 300px;
}

.author-section .author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.author-section .author-all-imf {
  padding: 25px 15px;
}
.author-section h3.author-name {
  font-size: 25px;
  font-weight: 600;
  color: var(--black);
}

.author-section h4.author-subtitle {
  font-size: 17px;
  color: var(--light-color);
}

.author-section .author-social-icons {
  margin-top: 15px;
}

.author-section .author-social-icons i {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  margin-right: 5px;
  color: #fff;
  transition: 0.4s;
  box-shadow: var(--box-shadow);
}
.author-section .author-social-icons .fa-facebook-f {
  background-color: #3b5998;
}
.author-section .author-social-icons .fa-instagram {
  background-color: #000;
}
.author-section .author-social-icons .fa-twitter {
  background-color: #26a6d1;
}
.author-section .author-social-icons .fa-youtube {
  background-color: #ba202e;
}
.author-section .author-social-icons .fa-linkedin-in {
  background-color: #007ab9;
}
.author-section .author-social-icons i:hover {
  transform: translateY(-4px);
}
.author-section .author-all-btn {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

input[type="submit"],
button,
.btn,
a.main-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: var(--black);
  box-shadow: var(--box-shadow);
  border: 1px solid #ededed;
}

input[type="submit"]:hover,
button:hover,
.btn:hover,
a.main-btn:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--color-primary);
}

/* Home Section */

section {
  padding: 40px 0;
}

.all-details-section::-webkit-scrollbar {
  width: 7px;
}

.all-details-section::-webkit-scrollbar-track {
  box-shadow: var(--box-shadow);
}

.all-details-section::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid var(--bg-color);
}

.all-details-section {
  box-shadow: var(--box-shadow);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 20px 0;
}

.home .main-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.home .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #007aed77;
  box-shadow: var(--box-shadow);
}

.home .home-all-content {
  text-align: center;
}

.home .author-main-details {
  margin-top: 35px;
}

.home .author-main-details h1 {
  font-weight: 700;
  color: var(--black);
  margin-bottom: 40px;
}

.home .author-main-details span {
  color: var(--color-primary);
}
.home a.main-btn.download-cv-btn {
  padding: 18px 28px;
  font-size: 16px;
}

.home .home-social-icons {
  margin-top: 60px;
  padding: 30px 40px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.home .home-social-icons a {
  margin-right: 15px;
}
.home .home-social-icons a:nth-child(5) {
  margin-right: 0;
}

/* Widget Section */
.rx-widget {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  transition: 0.4s;
}
.rx-widget h2 {
  font-size: 16px;
  text-align: center;
  border-bottom: var(--border);
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.rx-widget ul,
.rx-widget ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rx-widget ul li {
  margin-bottom: 5px;
}
.rx-widget a {
  color: var(--black);
}
.rx-widget a:hover {
  color: var(--color-primary);
}

.rx-widget .wp-block-search__inside-wrapper,
.rx-widget button.wp-block-search__button {
  display: block;
  width: 100%;
  margin: 5px 0;
}
.tagcloud a {
  border: 1px solid #ededed;
  background: var(--white);
  padding: 5px 7px;
  margin: 0 2px 5px 0;
}

.tagcloud {
  display: flex;
  flex-flow: row wrap;
}
/*Blog Style*/
.resume-x-grid-item .single-blog {
  padding: 20px 30px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin-bottom: 30px;
  transition: 0.4s;
}
.resume-x-grid-item .single-blog:hover img {
  transform: scale(1.2) rotate(5deg);
}
.resume-x-grid-item .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.resume-x-grid-item .blog-img {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}

.resume-x-grid-item .blog-date {
  background-color: var(--bg-color);
  display: inline-block;
  box-shadow: var(--box-shadow);
  padding: 10px 25px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.resume-x-grid-item .blog-date p {
  margin: 0;
  color: var(--black);
}

.blog-all-details {
  padding: 30px 0;
}

.blog-all-details span,
.blog-all-details .blog-scat {
  color: var(--gray);
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1px;
}

h4.blog-title {
  font-weight: 600;
  color: var(--black);
  line-height: 35px;
}

.blog-dres p {
  color: var(--gray);
  line-height: 30px;
}

.blog-dres {
  margin-bottom: 30px;
}

.main-btn i {
  margin-left: 7px;
}
.blog-page-number {
  box-shadow: var(--box-shadow);
  padding: 20px 10px;
  text-align: center;
}
.post-navigation .nav-links {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.pagination .nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
}
.pagination .nav-links span,
.pagination .nav-links a {
  box-shadow: var(--box-shadow);
  padding: 8px 15px;
  margin-right: 5px;
}
.pagination .nav-links span,
.pagination .nav-links a:hover {
  box-shadow: var(--box-shadow-inset);
  color: var(--color-primary);
}
.entry-meta span,
footer.entry-footer span {
  margin-right: 1rem;
  font-size: 13px;
}
/* Responcive */

@media only screen and (max-width: 991px) {
  .menu nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 990;
  }
  .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu a {
    padding: 10px 30px;
  }
  .author-section {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
@media (max-width: 669px) {
  .menu a {
    font-size: 20px;
  }
  .menu a span {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  .menu a {
    padding: 10px 15px;
  }
  .home .home-social-icons {
    padding: 30px 8px;
  }
  .home .home-social-icons a {
    margin-bottom: 15px;
  }
  .about .my-personal-info {
    padding: 30px 20px;
  }
  .about h5.personal-info-sub {
    font-size: 13px;
  }

  .about h4.personal-info-heading {
    font-size: 16px;
  }
  .about .single-testimonial h3 {
    font-size: 20px;
  }
  .about .single-testimonial p {
    font-size: 14px;
  }
  .about .single-testimonial p i {
    font-size: 16px;
  }

  .about .single-testimonial-star {
    font-size: 11px;
  }
  .about h6.popular-text {
    top: 5%;
    right: -25%;
  }
  .about .pricing-icon-box i {
    font-size: 35px;
    line-height: 55px;
  }
  .about h3.price-heading {
    font-size: 20px;
    line-height: 30px;
  }
  .about .clients-section .swiper {
    width: 200px;
    height: 280px;
  }

  .resume .single-education-box .single-education-content h5 {
    padding-left: 0;
    padding-top: 20px;
  }
  .portfolio a.main-btn {
    font-size: 10px;
    padding: 12px 10px;
  }
  .portfolio .view-icon i {
    font-size: 20px;
  }
  .portfolio .portfolio-heading {
    font-size: 20px;
    line-height: 30px;
  }
  .contact .single-contact-imf {
    flex-direction: column;
    align-items: center;
  }
  .contact .contact-icon-box {
    margin: 0 auto;
  }
  .contact .contact-links {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 350px) {
  .blog .single-blog {
    padding: 20px 15px;
  }
  .blog .blog-date {
    padding: 5px;
  }
  .blog .blog-date p {
    font-size: 12px;
  }
}

footer.site-footer {
  box-shadow: var(--box-shadow);
}
